PORT=3000
PUBLIC_APP_URL=https://example.ngrok.app

BIGCOMMERCE_CLIENT_ID=replace_me
BIGCOMMERCE_CLIENT_SECRET=replace_me
BIGCOMMERCE_JWT_SECRET=replace_me

MAKEPAY_BASE_URL=https://www.makecrypto.io
MAKEPAY_KEY_ID=replace_me
MAKEPAY_KEY_SECRET=replace_me
MAKEPAY_WEBHOOK_SECRET=replace_me

ADMIN_TOKEN=replace_me
BIGCOMMERCE_PENDING_STATUS_ID=
BIGCOMMERCE_PAID_STATUS_ID=
